.cart {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr ;
}

.cart > div {
  height: 100%;
}

.cart-empty {
  background-image: url("../../assets/megatron-angry.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  place-content: center;
  gap: 1rem;

  grid-column: 2 / 3;

  justify-self: center;

  width: 100%;
}

.cart-empty-text {
  background-color: rgb(255, 255, 255, 0.75);

  border-color: #bd141b;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.25rem;

  color: #bd141b;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-family: Transformers;
  font-size: 2rem;

  padding: 1rem 0;

  width: 24rem;
}

.cart-empty-text img {
  height: 100px;
}

.enter-store {
  background-color: rgb(255, 255, 255, 0.75);

  border-color: #bd141b;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0.25rem;

  color: #bd141b;

  font-family: Transformers;
  font-size: 2rem;

  padding: 0.7rem 0rem 0.5rem;

  width: 24.5rem;
}

.enter-store:hover {
  background-color: rgb(255, 255, 255, 1);
}

.cart-filled {
  color: #bd141b;

  display: grid;
  grid-template-rows: auto auto auto auto auto 1fr;
  justify-content: center;
  gap: 2rem;

  font-family: Transformers;
  font-size: 2rem;
  font-weight: bold;

  grid-column: 2 / 3;

  margin: 2rem 0;
}

.cart-filled-title {
  align-self: center;
}

.cart-filled-items {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cart-filled-total {
  display: grid;
  grid-template-columns: 1fr 6rem;

  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.cart-filled-total-text {
  text-align: right;
}

.cart-filled-total-amount {
  text-align: right;
}

.checkout {
  align-self: center;
  justify-self: center;

  width: 18rem;
}

.checkout:hover {
  background-color: #bd141b;
  color: white;
}